@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h1{font-family: "Righteous"; color:limegreen}